﻿     .featured .content-wrapper {
         
         background-color: #3E5667;
         background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
         background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
         background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
         background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
         background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
         color: #3e5667;
        padding-left: 20px;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-right:2px;
        
     }
#divinput
{
     background: none repeat scroll 0 0 #fff;
    display:inline-block;
    margin:1px;
    width:510px;
    border: 1px solid #D9D9D9;
    left:0;
    right:0;
    padding: 0 8px;
   
    
}
input:focus
{
    outline:none;
}

.divinput:active,#divinput.active
{
        box-shadow:0px 1px 2px rgba(0,0,0,0.3) inset;
        border: 1px solid #3E5667;
}
#email
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 19px;
    margin-top: 4px;
    margin-bottom:4px;
    padding: 0;
    vertical-align: top;
   width:100%;
    
}
#emailinp
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 19px;
    margin-top: 4px;
    margin-bottom:4px;
    padding: 0;
    vertical-align: top;
   min-width:400px;
    
}

#formwrapper
{
    font-size:larger;
    font-family:Arial,Verdana;
    background-color:#fff;
    margin: 0 auto;
    min-height:450px;
}
#funcs
{
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0;
    vertical-align: top;
    display: inline-block;
}
#result
{
    background-color:#fff;
    border-top: 2px solid #3E5667;
}
#funcs button
{
    background-color: #3E5667;
    background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF !important;
}
    #funcs button.active
    {
         box-shadow:0px 2px 2px #fff inset;
    }

#spinner
{
    float:right;
    width:16px;
    margin-bottom: 4px;
    margin-top: 4px;
    display:none;
    background-image:url('../Images/ajax-loader.gif');
}