﻿@{
    ViewBag.Title = "Rooms";
}
<section class="featured">
    <div class="content-wrapper">
           <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->
    <div id="formwrapper">
<form method="post" action="@Url.Action("Index","Rooms")" >
<div class="inputholder">
<input type="text" id="email" class="email" name="email"/>
</div>
<button onclick="document.forms[0].submit();">Submit</button>
</form>
@if(Model != null)
{Html.RenderPartial("AddressList",(IEnumerable<ExchangeConnector.Data.NameEmail>) Model);}
        </div>
        </div>
    </section>
