﻿@model IEnumerable<ExchangeConnector.Data.NameEmail>
<ul>
@foreach (var nameemail in Model)
{
    <li><a href="#" onclick="javascript:append('@nameemail.Name');">@nameemail.Name - @nameemail.Email</a></li>
}
</ul>
