﻿@{
    ViewBag.Title = "Address";
}
<section class="featured">
    <div class="content-wrapper">
    <div id="formwrapper">
<script id="single-template" type="text/x-handlebars-template">
  <div class="green">{{label}}<a href="#" onclick="remove('{{value}}',this)">X</a></div>
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/emailvalid.js")"></script>
<script type="text/javascript">
    selectedMailAddresses = {};
    var paste = false;
    var pasteObject = {};
    var singleTemplate;
    $(document).ready(function () {
        var source   = $("#single-template").html();
        singleTemplate = Handlebars.compile(source);
        $('#emailinp').autocomplete(
            {
                delay: 500, 
                source: _app_path + 'Address/Autocomplete',
                minLength: 4,
                select: function (event, ui) {
                    append(ui.item);
                    $(this).autocomplete("close");
                    $(this).val('');
                    $(this).focus();
                    return false;
                },
                search: function (event, ui) {
                    if (paste) {
                        var inp = $('#emailinp').val();
                        $('#emailinp').autocomplete("disable");
                        $('#spinner').show();
                        var sep = (inp.indexOf(',') > 0) ? ',' : ';';
                        var inparray = inp.split(sep);
                        pasteObject.inparray = inparray;
                        $.getJSON('/Address/Autocomplete', { term: inp }, function (data, stat) {
                            pasteComplete(data);
                        });
                        return false;
                    }
                    else {
                        //Special handling on ; will automatically validate or add raw email addresses
                        var raw = $('#emailinp').val();
                        if (raw.charAt(raw.length - 1) == ';')
                        {
                            
                            var em = raw.substr(0, raw.length - 1);
                            if (isValidEmailAddress(em)) {
                                //Dont bother to check if this is an email.
                                append({ label: em, value: em });
                                $('#emailinp').val('');
                                $('#emailinp').focus();
                                return false;
                            }
                            else {

                                $.getJSON(_app_path + 'Address/Autocomplete', { term: em }, function (data, stat) {
                                    if (data.length && data.length == 1) {
                                        append(data[0]);
                                        $('#emailinp').val('');
                                        $('#emailinp').focus();
                                    }
                                });
                                return false;
                            }
                        }
                    }
                }
            }
            );
        $('#emailinp').keydown(function (event) {
            if (event.which == 13) {
                event.preventDefault();
            }
            if (event.which == 8) {
                if ($('#emailinp').val() == '') {
                    removeLastEmail();
                    event.preventDefault();
                }
            }
        });
        $('#emailinp').bind('paste', null,function (e) {
            var element = this;
            paste = true;
            //Settimeout with 0 moves the function to the bottom of the stack
            //will be executed after the Text has been pasted in.....
            setTimeout(function () {
                var text = $(element).val();
                $(element).val(cleanEmail(text));
            }, 0);
            $(element).autocomplete("search");
        });
        var selemail = $('#email').val();
        if (selemail != "") {
            $('#emailinp').val(selemail);
            paste = true;
            $('#emailinp').autocomplete("search");
            $('#email').val('');
        }
    });
    function pasteComplete(data) {
        var inparray = pasteObject.inparray;
        var resArray = new Array();
        for (var i = 0; i < inparray.length; i++) {
            var v = checkPaste(inparray[i], data);
            if (v)
                append(v);
            else
                resArray.push(inparray[i]);
        }
        paste = false;
        $('#emailinp').val(resArray.join(';'));
        $('#emailinp').autocomplete("enable");
        $('#spinner').hide();
    }
    function checkPaste(email, data) {
        for (var i = 0; i < data.length; i++) {
            if (email==data[i].term&&data[i].accurate)
                return data[i];
        }
        return null;
    }
    function append(item) {
        $('#selemail').append(singleTemplate(item));
        var elem = $('#selemail div:last-child')
        appendEmail(item.value);
        item.elem = elem;
        selectedMailAddresses[item.value] = item;
        return false;
    }
    function removeLastEmail() {
        var ems = new Array();
        for (var s in selectedMailAddresses) {
            if (selectedMailAddresses[s])
                ems.push(s);
        }
        var lastm=ems[ems.length - 1];
        selectedMailAddresses[lastm.email] = null;
        remove(lastm);
        $('#emailinp').focus();
    }
    function appendEmail(email) {
        var cur=$('#email').val();
        if ( cur&&cur!= "")
            $('#email').val(cur + ';' + email)
        else
            $('#email').val(email);
        
    }
    function remove(email) {
        var s = selectedMailAddresses[email];
        if (s)
             selectedMailAddresses[email] = null;
        s.elem.remove();
    }
    function mysubmit() {
        var ems = new Array();
        if ($('#emailinp').val() != "") 
        {
            ems.push$(('#emailinp').val());
        }
        for (var s in selectedMailAddresses) {
            if(selectedMailAddresses[s])
                ems.push(s);
        }
        $('#email').val(ems.join(';'));
        document.forms[0].submit();
    }

</script>
<form method="post" action="@Url.Action("Index","Address")" >
<div class="inputholder" id="inputholder"><span id="selemail"></span>
<input type="text" id="emailinp" class="email" />
<div id="spinner">&nbsp;</div>
</div>
    <input type="hidden" id="email" name="email" value="@ViewBag.email"/>
<button onclick="mysubmit();">Check</button>
</form>
@if(Model != null)
{Html.RenderPartial("AddressList",(IEnumerable<ExchangeConnector.Data.NameEmail>) Model);}
        </div>
        </div>
    </section>

    