﻿@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/home.js")"></script>

<section class="featured">
    <div class="content-wrapper">
           <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->
    <div id="formwrapper">    
        <form method="post" action="@Url.Content("~/")">
        <div style="width:100%;background-color:#EFEEEF;">
        <div style="position:relative;display:inline-block;background-color:#EFEEEF;padding:4px">
        <div id="divinput" class="divinput">
        <input type="text" name="email" id="email"  value="@ViewBag.email" placeholder="E-post adresser" 
            onfocus="onEmailFocus();" onblur="onEmailLooseFocus();"/>
        </div>
            
<div id="funcs">
        <button id="btnlookup" aria-label="Finn ledig tid" onclick="lookup();return false;" 
            onfocus="$('#btnlookup').addClass('active');" onblur="$('#btnlookup').removeClass('active');">
            <span>Kalender</span>
        </button>
         <button id="btncapacity" aria-label="Finn ledig tid" onclick="capacity();return false;" 
            onfocus="$('#btncapacity').addClass('active');" onblur="$('#btncapacity').removeClass('active');">
            <span>Kapasitet</span>
        </button>
        <!--<a href="#" onclick="lookup();return false;">Slå opp</a>
        <a href="#" onclick="capacity();return false;">Capacity</a>
        <input type="submit" value="submit" />-->        Søk fra <a href="#" onclick="moveDays(-1);return false;"><-</a>
        <span class="datefield" >
<span id="spdatefrom"></span><input id="datefrom" name="datefrom" type="hidden" value="@ViewBag.startdate"/>
</span>
 til og med
<span class="datefield right">
<span id="spdateto"></span><input id="dateto" name="dateto" value="@ViewBag.enddate" type="hidden"/>
<input id="action" name="myaction" type="hidden" value="lookup" />
<a href="#" onclick="moveDays(1);return false;">-></a>
Vis avtaler i tooltip: <input type="checkbox" name="inlinedescriptions" id="inlinedescriptions" checked="checked" onchange="setInlineDescription(this)"/>
</span>
</div>
</div> 
            </div>
     </form>
 
<div id="result">
     @{if (ViewBag.busyfree != null)
       {
           Html.RenderPartial("calllist", (ExchangeConnector.Data.UserAndAppointmentsCollection) ViewBag.busyfree);
       } 
       }
   
        @{if(ViewBag.detailedplan !=null)
      {
          Html.RenderPartial("plancalendar", (IEnumerable<ExchCal.Models.FreeTime>)ViewBag.detailedplan);
      }
    }
         @{if(ViewBag.plan !=null)
      {
          Html.RenderPartial("plan", (IEnumerable<ExchCal.Models.FreeTime>)ViewBag.plan);
      }
    }
    </div>
                </div>    
    </div>
    <a href="@Url.Content("~/")?email=@ViewBag.email&dateto=@ViewBag.enddate&datefrom=@ViewBag.startdate&myaction=capacity" target="_blank">Open i new window</a> 
</section>
<script type="text/javascript">
   
    var startdate=new Date(@ViewBag.startdate);
    var enddate=new Date(@ViewBag.enddate);
    var inlinedescriptions=true;
    getInlineDescriptions();
    function setInlineDescription(cb){
        $.cookie("inlinedescriptions",!cb.checked,{expires:14});
    }

    function getInlineDescriptions(){
        var t=$.cookie("inlinedescriptions");
        if(t=="true")
            inlinedescriptions=false;
        $("#inlinedescriptions").attr("checked",inlinedescriptions);
    }
    
</script>

      
         
