﻿@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/home.js")"></script>

<section class="featured">
    <div class="content-wrapper">
           <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <form method="post" action="@Url.Content("~/")">
    <p>
        Veiledere: <input type="text" name="email" id="email" style="width:300px;" value="@ViewBag.email"/>
        <a href="#" onclick="lookup();return false;">Slå opp</a>
        <!--  -  <a href="#" onclick="capacity();return false;">Capacity</a>
        <input type="submit" value="submit" />-->
        Søk fra <a href="#" aria-label="Flytt en dag tilbake" onclick="moveDays(-1);return false;"><-</a>
        <span class="datefield" >
<span id="spdatefrom"></span><input id="datefrom" name="datefrom" type="hidden" value="@ViewBag.startdate"/>
</span>
 til og med
<span class="datefield right">
<span id="spdateto"></span><input id="dateto" name="dateto" value="@ViewBag.enddate" type="hidden"/>
<input id="action" name="action" type="hidden" value="lookup" />
<a href="#" aria-label="Flytt en dag fram" onclick="moveDays(1);return false;">-></a>
Skjul avtaler: <input type="checkbox" name="inlinedescriptions" id="inlinedescriptions" checked="checked" onchange="setInlineDescription(this)"/>
</span>
    </p>
     </form>
        <div id="result">
     @{if (ViewBag.busyfree != null)
       {
           Html.RenderPartial("calllist", (ExchangeConnector.Data.UserAndAppointmentsCollection) ViewBag.busyfree);
       } 
       }
    @{if(ViewBag.plan !=null)
      {
          Html.RenderPartial("plan", (IEnumerable<ExchCal.Models.FreeTime>)ViewBag.plan);
      }
    }
        @{if(ViewBag.detailedplan !=null)
      {
          Html.RenderPartial("plancalendar", (IEnumerable<ExchCal.Models.FreeTime>)ViewBag.detailedplan);
      }
    }
            </div>
    </div>
   <a href="@Url.Content("~/")?email=@ViewBag.email&dateto=@ViewBag.enddate&datefrom=@ViewBag.startdate&myaction=capacity" target="_blank">Open i new window</a>
</section>
<script type="text/javascript">

    var startdate = new Date(@ViewBag.startdate);
    var enddate = new Date(@ViewBag.enddate);
    var inlinedescriptions = true;
    getInlineDescriptions();
    function setInlineDescription(cb) {
        $.cookie("inlinedescriptions", !cb.checked, { expires: 14 });
    }

    function getInlineDescriptions() {
        var t = $.cookie("inlinedescriptions");
        if (t == "true")
            inlinedescriptions = false;
        $("#inlinedescriptions").attr("checked", inlinedescriptions);
    }
    /*
    function lookup(){
        $('#action').val('lookup');
        document.forms[0].submit();
    }
    function capacity(){
        $('#action').val('capacity');
        document.forms[0].submit();
    }*/
</script>

      
         
