﻿@model ExchangeConnector.Data.UserAndAppointmentsCollection

@using System.Web.UI
@using ExchCal.Models
@using ExchCal.Helpers;
@if (Model.ErrorCount > 0)
{
    <div class="erroritems">
        <ul>
           @foreach (var s in Model.Errormessages)
           {
               <li>@s</li>
           }
        </ul>
    </div>
}
<table id="freebusy">
    @DisplayHelpers.RenderFreeBusy(Model,true,(bool)ViewBag.inlinedescriptions)
</table>

