﻿@model IEnumerable<ExchCal.Models.FreeTime>
@using System.Web.UI
@using ExchCal.Models
@using ExchCal.Helpers;
<div id="plan2">
    <table id="plantable">
        <tr><th></th><th>Mandag</th><th>Tirsdag</th><th>Onsdag</th><th>Torsdag</th><th>Fredag</th><th>Lørdag</th><th>Søndag</th></tr>
        @{
            DateTime cdate = (DateTime)ViewData["dispstartdate"];
            while(cdate<(DateTime)ViewData["dispenddate"])
            {
                var isMonday=false;
                if(cdate.DayOfWeek==DayOfWeek.Monday)
                {
                    @Html.Raw(String.Format("<tr><td class=\"weeknum\">{0}</td>", DateHelpers.IsoWeek(cdate)));
                    isMonday = true;
                }
                @Html.Raw(String.Format("<td><div class=\"CalHolder\"><div class=\"CalDate\">{0}</div><div class=\"CalFree\">{1}</div></div></td>",
                isMonday?cdate.ToString("dd.MM"):cdate.Day.ToString(), DisplayHelpers.RenderPlanByDay(Model, cdate)));
                if (cdate.DayOfWeek == DayOfWeek.Sunday)
                {
                  @Html.Raw("</tr>")
                 }
                cdate = cdate.AddDays(1);
            }
        }
        <!--<tr><td><div class="CalHolder"><div class="CalDate">1</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">2</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">3</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">4</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">5</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">6</div><div class="CalFree">tt 8</div></div></td>
        <td><div class="CalHolder"><div class="CalDate">7</div><div class="CalFree">tt 8</div></div></td></tr>-->
    </table>
</div>